<div id="body">
    <header>
        <div>
            <h5>Start</h5>
            <p>@ResultDisplay.StartingPrice</p>
        </div>
        <div>
            <h5>Kr./km</h5>
            <p>@ResultDisplay.PerKm</p>
        </div>
        <div>
            <h5>Kr./min</h5>
            <p>@ResultDisplay.PerMin</p>
        </div>
        <div>
            <h5>Rejsetid</h5>
            <p>@ResultDisplay.TravelTime</p>
        </div>
        <div>
            <h5>Længde</h5>
            <p>@ResultDisplay.Distance</p>
        </div>
    </header>
    <button type="submit" form="Submitform">Beregn</button>
    <h5 id="ResultText">Rejsen koster i alt:</h5>
    <h3>0 kr.</h3>
</div>

